header{
  position: relative;
}

a, p, li, button, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body{
  margin: 0;
}

body{
  background: black;
  color: white;
}

a{
  color: white;
  text-decoration: none;
}

.main__page{
  min-height: calc(100vh - 260px);
  padding-top: 70px;
}

.main__header{
  position: fixed;
  width: calc(100% - 30px);
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  z-index: 1000;
  background: black;
 border-bottom: 1px solid white;
}

.main__header a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.rate__block{
  display: flex;
  justify-content: start;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .rate__block a{
    font-size: 16px;
  }

  .main__page{
    min-height: calc(100vh - 328px);
  }
}

.rate__block .item{
  padding: 0 30px;
}

@media screen and (max-width: 1200px) {
  .rate__block .item{
   text-align: center;
   padding: 0 20px;
  }
}

@media screen and (max-width: 800px) {
  .main__list li{
    line-height: 30px;
    font-size: 24px;
  }

  .rate__block .item{
    padding: 0 20px;
  }

  .item__description ul{
    padding-left: 30px;
  }
}


.language__block{
  display: flex;
}

.language__block div{
padding: 0 15px;
}

footer{
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 20px 100px 40px 100px;
}

footer a{
  background: white;
  color: #262626;
  border: none;
  width: 440px;
  outline: none;
  border-radius: 10px;
  padding: 18px 0;
  font-size: 24px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  footer{
    flex-direction: column;
    align-items: center;
  }

  footer a{
    width: 100%;
  }
  
  footer a:first-child{
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 1200px) {
  footer{
    padding: 20px 24px;
  }
}

footer a:hover{
  opacity: 1;
  background: #9d9ea1;
  color: #262626;
}


@media screen and (max-width: 800px) {
  .language__block div{
    padding: 0 10px;
  }

  .rate__block .item {
    padding: 10px;
  }
}

.main__header .item img{
  width: 132px;
  height: 60px;
  margin-top: 8px;
}

@media screen and (max-width: 800px) {
  .main__header .item img{
    width: 100px;
    height: 46px;
    margin-top: 8px;
  }
}

.rate__block .fb{
background: #c9cace;
-webkit-transition: 0.5s;
width: 40px;
height: 40px;
border-radius: 50%;
padding: 0 0;
position: relative;
display: block;
}

.rate__block .fb i{
  left: 14px;
  top: 11px;
  position: absolute;
  color: #262626;
  font-size: 20px;
}

.rate__block .fb:hover{
  background: #262626;
}

.rate__block .fb:hover i{
  color: #c9cace;
}

iframe{
  width: 100%;
  height: calc(100vh - 280px);
}

.main__page{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width: 1400px) {
  .main__page{
    width: 100%;
  }

  .main__page img{
    width: 100%;
  }
  }

  @media screen and (max-width: 600px) {
  .rate__block .item:first-child{
    padding: 10px 3px;
  }
  }